@model JJBookStore.ViewModels.ShopCartViewModelList

@{
    ViewBag.Title = "My Shopping Cart";
}

<br />
<h2>Manage Shopping Cart</h2>
<br />
@if (Model.scList.Count > 0)
{

    using (Html.BeginForm("ShopCartAction", "ShopCarts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "ShopCartAction", new { @class = "text-danger" })
        <table class="table">
            <tr class="table-bordered table-secondary">
                <th>
                    @Html.DisplayNameFor(model => model.scList.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.scList.FirstOrDefault().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.scList.FirstOrDefault().Seller)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.scList.FirstOrDefault().UnitPrice)
                </th>
                <th>
                    Sub Total
                </th>
                <th>
                    @Html.CheckBox("selectall", new { onclick = "selall()" })
                </th>
            </tr>
            @for (int i = 0; i < Model.scList.Count; i++)
            {
                @Html.HiddenFor(modelItem => Model.scList[i].ShopCartId)
                <tr>
                    <td>
                        @Html.ActionLink(Model.scList[i].Title, "Details", "Books", new { id = Model.scList[i].BookID }, new { @class="alert-link"})
                        @Html.HiddenFor(modelItem => Model.scList[i].Title)
                    </td>
                    <td width="150">
                        <input type="button" value="-" class="btn btn-default btn-sm" onclick="qclick(false,@i,@Model.scList[i].UnitPrice)">

                        @Html.TextBoxFor(modelItem => Model.scList[i].Quantity,
              new { id = i, @readonly = "readonly", style = "width:25px;text-align:center;" })

                        @Html.ValidationMessageFor(modelItem => Model.scList[i].Quantity, "", new { @class = "text-danger" })

                        <input type="button" value="+" class="btn btn-default btn-sm" onclick="qclick(true,@i,@Model.scList[i].UnitPrice)">
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model.scList[i].Seller)
                        @Html.HiddenFor(modelItem => Model.scList[i].Seller)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => Model.scList[i].UnitPrice)
                        @Html.HiddenFor(modelItem => Model.scList[i].UnitPrice)
                    </td>
                    <td width="100">
                        $<span id="@i+subtotal"> @(Model.scList[i].Quantity * Model.scList[i].UnitPrice)</span>
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model.scList[i].check, new { @class = "checkboxes", id = i + "check", onclick = String.Format("total({0},{1})", i, Model.scList[i].UnitPrice) })
                    </td>
                </tr>
            }
            <tr>
                <td align="right" colspan="4"><b>Total Price</b></td>
                <td>$<div id="tt" style="float:right;">0.00</div></td>
            </tr>
            <tr>
                <td align="right" colspan="6">

                    <input type="submit" value="Save Change" name="shopCartButton" class="btn btn-outline-success" />
                    <input id="remove" type="submit" value="Remove" name="shopCartButton" class="btn btn-outline-danger ml-2" />
                </td>
            </tr>
            <tr>
                <td align="right" colspan="6">
                    <input id="purchasenow" type="submit" value="Buy Now" name="shopCartButton" class="btn btn-primary active" />
                </td>
            </tr>
        </table>
    }
}
else
{<br /><br />
    <h3 class="text-center">Your Shopping Cart is Empty!</h3>
    <img src="~/Content/Images/cart.jpg" class="rounded mx-auto d-block" />
    <br /><br />
}
<br />
<a href="javascript:history.back()" class="btn btn-outline-dark btn-sm">Go Back</a>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Custom/viewshopcart.js"></script>