
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<br />
<div class="list-header clearfix">
    <h1>Error</h1>
</div>
<br />
<br />
<img src="~/Content/Images/error.gif" class="rounded mx-auto d-block" />
<div class="list-sfs-holder">
    <div class="alert alert-warning text-center">
        An unexpected error has occurred. Please contact the system administrator.
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div class="alert alert-warning">
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>
                    @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>
@Html.ActionLink("Back to Home", "Index", "Home")