@{
    ViewBag.Title = "Index";
}
@Html.Encode(User.Identity.Name)

<table>
    <tr>
        <td>

            @Html.ActionLink("Users Management", "Index", "Users", null, new { @class = "btn btn-primary" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Books Management", "Index", "Books", null, new { @class = "btn btn-primary" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("ShopCarts Management", "Index", "ShopCarts", null, new { @class = "btn btn-primary" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Purchaseds Management", "Index", "Purchaseds", null, new { @class = "btn btn-primary" })
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Log out", "Logout", "Home", null, new { @class = "btn btn-danger" })
</p>
<p>
    @Html.ActionLink("Test", "Test", "Home", null, new { @class = "btn btn-danger" })
</p>