<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title + "JJ Book Store"</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <script>
        @Html.Raw(TempData["Msg"])
    </script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("JJ BOOK STORE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
                <ul class="navbar-nav ml-3">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item"><span class="navbar-text">Welcome : </span></li>
                        <!-- DropDown Menu-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Html.Encode(User.Identity.Name)</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("My Shopping Cart", "ViewShopCart", "ShopCarts", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("My Purchased", "PurchaseIndex", "Purchaseds", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Sell Book", "SellingBook", "Books", new { area = "" }, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("My Profile", "Details", "Users", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Change Password", "ChangePwd", "Users", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Sign In", "SignIn", "Users", new { area = "" }, new { @class = "nav-link active" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <br />


    <br /><br />
    <footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <span class="navbar-text ml-3">Follow Us </span>
        <a href="https://www.facebook.com/JonathanZhao1005">
            <img src="~/Content/Images/facebook.png" class="rounded-circle ml-3" style="width:30px" />
        </a>  <a href="https://github.com/jonathanzz">
            <img src="~/Content/Images/github.jpg" class="rounded-circle ml-3" style="width:30px" />
        </a>  <a href="https://www.linkedin.com/in/zhe-zhao-22a057117/">
            <img src="~/Content/Images/linkedin6.png" class="rounded-circle ml-3" style="width:30px" />
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About Us", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Sign Out", "SignOut", "Users", new { area = "" }, new { @class = "nav-link active" })
                    </li>
                }
                <li class="ml-5"><img src="~/Content/Images/copyright.png" class="rounded-circle" style="width:25px" /> <a class="navbar-text ml-sm-1" style="font-size:smaller" href="#">@DateTime.Now.Year, JJ BookStore</a></li>

            </ul>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/popper.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
