@model JJBookStore.Models.User

@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Profile</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="list-group">
        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            <b> @Html.DisplayFor(model => model.UserName)</b>
        </dd>

        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<br />
<br />

<div class="float-right">
    @Html.ActionLink("Submit", "Edit", null, new { @class = "btn btn-primary" })
</div>
    <a href="javascript:history.back()" class="btn btn-outline-dark btn-sm">Go Back</a>
