@model JJBookStore.ViewModels.SignInViewModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /><br />
<br /><br />
@using (Html.BeginForm("SignIn", "Users", FormMethod.Post, new { @class = "form-signin justify-content-xl-center", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    <div class="text-center">
        <fieldset>
            <legend><b>Please Login Here</b></legend>
            <br />
            <div class="editor-label">@Html.LabelFor(u => u.SignInName)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.SignInName)
            </div>
            @Html.ValidationMessageFor(u => u.SignInName,null, new { @class = "text-danger" })
            <br />
            <div class="editor-label">@Html.LabelFor(u => u.Password)</div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
            </div>
            @Html.ValidationMessageFor(u => u.Password, null, new { @class = "text-danger" })

            <br />
            <input type="submit" value="Sign In" class="btn btn-outline-primary btn-sm" />
        </fieldset>
        <br />
        <p>If you don't have an account, please <a>@Html.ActionLink("Register", "Register", "Users")</a> here.</p>
        
    </div>
}  