@model JJBookStore.Models.Book

@{
    ViewBag.Title = "Book Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Details</h2>

<div>
    <hr />
    <img src="@Url.Content(Model.Img)" alt="Image" width="170" class="rounded mx-auto d-block" />
    <dl class="list-group">
        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            <b>@Html.DisplayFor(model => model.Title)</b>
        </dd>
        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.StockQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockQty)
        </dd>

        <dt class="list-group-item-secondary">
            Seller Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

        <dt class="list-group-item-secondary">
            @Html.DisplayNameFor(model => model.OnSell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnSell)
        </dd>

    </dl>
</div>
<br />
<div class="float-right">
    @Html.ActionLink("Add To Cart", "AddToShopCart", "ShopCarts", new { id = Model.BookID }, new { @class = "btn btn-primary" })
</div>
<a href="javascript:history.back()" class="btn btn-outline-dark btn-sm">Go Back</a>
