@model PagedList.IPagedList<JJBookStore.Models.Book>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Search Result</h2>
<br /><br />
<h4>Total results: @ViewBag.totalResult</h4>
<table class="table">
    <tr>
        <th>
            <div style="text-align:center">Title</div>
        </th>
        <th>
            Author
        </th>
        <th>
            Price
        </th>
        <th>
            <div style="text-align:center">Img</div>
        </th>
        <th>
            Stock Quantity
        </th>
        <th>
            Seller
        </th>
        <th>
            Operations
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id = item.BookID }, new { @class = "alert-link" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <img src="@Url.Content(item.Img)" alt="Image" width="150" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td width="120">
            @Html.ActionLink("Add To Cart", "AddToShopCart", "ShopCarts", new { id = item.BookID }, new { @class = "btn btn-outline-primary btn-sm mt-5" })
        </td>
    </tr>
    }

</table>

<br />
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Search",
    new { page, currentSearch = ViewBag.currentSearch, columnString = ViewBag.columnString }))
