@model PagedList.IPagedList<JJBookStore.Models.Book>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Search Result</h2>
<h4>Total results: @ViewBag.totalResult</h4>
<table class="table">
    <tr>
        <th>
            Seller
        </th>
        <th>
            <div style="text-align:center">Title</div>
        </th>
        <th>
            Stock Quantity
        </th>
        <th>
            Author
        </th>
        <th>
            Price
        </th>
        <th>
            <div style="text-align:center">Img</div>
        </th>
        <th>
            Upload Date
        </th>
        <th>
            Operation
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Url.Content(item.Img)" alt="Image" width="150" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td width="150">
                @Html.ActionLink("Details", "Details", new { id = item.BookID }) /
                @Html.ActionLink("Add To Cart", "AddToShopCart", "ShopCarts", new { id = item.BookID }, null)
            </td>
        </tr>
    }

</table>

<br />
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Search",
    new { page, currentSearch = ViewBag.currentSearch, columnString = ViewBag.columnString }))
