@model IEnumerable<JJBookStore.Models.Book>

@{
    ViewBag.Title = "My Selling Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>My Selling Book</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create","Books",new { area = "" }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="table-bordered table-secondary">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnSell)
        </th>
        <th width="70">Operations</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.BookID },new { @class="alert-link"})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Url.Content(item.Img)" alt="Image" width="150" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnSell)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookID }, new { @class = "btn btn-outline-primary btn-sm mt-3" }) 
                @Html.ActionLink("SaleRecords", "SaleRecord", new { id = item.BookID }, new { @class = "btn btn-outline-success btn-sm mt-2" })
                @Html.ActionLink("Remove", "Remove", new { id = item.BookID }, new { @class = "btn btn-outline-danger btn-sm mt-2",
                                   onclick = "return confirm('Do you really want to remove this book?')" })
            </td>
        </tr>
    }

</table>

<p>
    <a href="javascript:history.back()" class="btn btn-outline-dark btn-sm">Go Back</a>

</p>
